* body {
 font-family: Raleway;background-color: #F7F7F7;
  margin: 0%;

}
 
 
     
.title
{
  color:#202020;
  font-size: 10vh;
  text-align: center;
  padding: 3%;

}

.head
{
  color:#303030;
  font-size: 6vh;
  text-align: center;
  padding-top:  1%;
  padding-bottom:  0px;
  margin: 2%;

}

.para
{
  color:#303030;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 3vh;
  text-align: center;
  padding: 2%;
}


.subtxt
{
  color:#202020;
  font-size: 6vh;
  text-align: center;
margin:3%;
}

.subtxtbod
{
color:#303030;font-size: 2vh;
text-align: center;
margin-top: 2%;
margin-bottom: 2%;

margin-right: 7%;
margin-left: 7%;

}


.im
{
  padding: 15px 15px;
}







.button {
  display: block;
  max-width: 250px;
  margin: auto;
  border: none;
  color: blue;
  background-color: #63CCA6; 
  border-radius: 15px;
  padding: 4% 4%;
  text-align: center;
  text-decoration: none;
  display: center;
  font-size: 4vh;
 transition-duration: 0.6s;
  outline: none;
  cursor: pointer;
}

.buttonsub  {
  border-radius: 15px;
  background-color: #63CCA6; 
  color: #0031AD; 
  
}

.buttonsub:hover {
  border-radius: 50px;
  background-color: #4AE46B;
  color: #0048CC; 
}

.buttona {
  display: block;
  max-width: 200px;
  margin: auto;
  border: none;
  color: black;
  background-color: #63CCA6; 
  border-radius: 15px;
  padding: 2%;
  text-align: center; 
  text-decoration: none;
  display: center;
  font-size: 30px;
 transition-duration: 0.6s;
  outline: none;
  cursor: pointer;
}

.buttona:hover {
  border-radius: 50px;
  background-color: #4AE46B;
  color: white; 
}






.buttonb {
  display: block;
  max-width: 150px;
  margin: auto;
  border: none;
  color: #202020;
  background-color: #ffffff; 
  border-radius: 15px;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: center;
  font-size: 18px;
 transition-duration: 0.6s;
  
  cursor: pointer;
}
.buttonbott  
{
  border-radius: 15px;
  background-color: #ffffff; 
}
.buttonbott:hover {
  border-radius: 50px;
  background-color: #ffffff;
  color: #6f2dbd;
}





.navbar 
{
  overflow: hidden;
  background-color: #303030;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  transition-duration: 0.4s;

}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 12px 12px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 10px;
}



/* Right-aligned link */
.navbar a.right 
{
  float: right;
}



/* Change color on hover */
.navbar a:hover 
{
  background-color: #63CCA6;
  color: white;
  border-radius: 15px;
}



.navbar a.active 
{
  background-color: #63CCA6;
  color: white;
}
.cardsubmitcont {

display: grid;
padding: 5%;
grid-template-columns: repeat(auto-fill, minmax(300px,1fr)) ;
grid-column-gap: 5%;
grid-row-gap: 50px;

}

.cardsubmit {

box-shadow: 0 4px 8px 0 #505050;
border-width: 1px;
border-style: solid;
border-color: #505050;
border-radius: 10px;
transition: 0.5s;

}

.cardsubmit:hover {
  box-shadow: 0 10px 20px 0 #63CCA6;
  border-radius: 20px;
}


.subcont
{
display: grid;
grid-template-columns: repeat(auto-fill, minmax(400px,1fr)) ;
grid-column-gap: 3rem;
grid-row-gap: 50px;
}



.cardcontindex
{
display: grid;
grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
grid-column-gap: 5%;
grid-row-gap: 50px;
}


.cardhead{
color:#303030;
font-size: 5vh;
text-align: center;
padding: 4%;

}
.cardbod{
color:#202020;
font-size: 3vh;
text-align: center;
padding: 4%;

}

.cardindex {

box-shadow: 0 4px 8px 0 #63CCA6;
text-align: center;

border-width: 1px;
border-style: solid;
border-color: #505050;
border-radius: 10px;
transition: 0.2s;

}


.cardindex:hover {
  box-shadow: 0 10px 20px 0 #63CCA6;
  border-radius: 20px;
}

.cardcont
{
display: grid;
grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
grid-column-gap: 3rem;
grid-row-gap: 50px;
}


.card {

box-shadow: 0 4px 8px 0 #505050;
border-width: 1px;
border-style: solid;
border-color: #505050;
border-radius: 10px;
transition: 0.5s;

}

.card:hover {
  box-shadow: 0 8px 16px 0 #202020;
  border-radius: 20px;
}



.cardtitle
{
color:#202020;
  font-size: 30px;
  text-align: center;
 padding :1%;
}

.cardsub
{
color:#202020;
  font-size: 15px;
  text-align: center;
  padding-top:  5px;
  padding-bottom:  5px;
}

.cardauthor
{
  color:#303030;
  font-size: 18px;
  text-align: center;
  padding-top:  5px;
  padding-bottom:  5px;
}

.cardabstract
{
  color:#303030;
  font-size: 16px;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 60px;
  margin-right: 15px;
  margin-left: 30px;
}



.center 
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center1 {
  margin: auto;
  width: 50%;
 padding: 5%;
}

.viewtitle
{
  color:#202020;
  font-size: 30px;
  text-align: center;


}

.viewauthor
{
  padding-top: 1%;
  color:#202020;
  font-size: 17px;
  text-align: center;
  padding-bottom: 1%;

}

.viewabs
{
  color:#202020;
  margin-left: 3%;
  margin-left: 3%;
  font-size: 19px;
  text-align: center;

}


input[type=text] {
  width: 90%;
  font-family: Raleway;
  font-size: 15px;
  padding: 10px 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-sizing: border-box;
  outline: none;
}

input[type=file] {
  width: 90%;
  font-family: Raleway;
  font-size: 15px;
  padding: 10px 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-sizing: border-box;
  outline: none;
}

input[type=email] {
  width: 90%;
  font-family: Raleway;
  font-size: 15px;
  padding: 10px 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-sizing: border-box;
  outline: none;
}

input[type=submit] {
 width:300px;
 font-family: Raleway;
  padding: 12px 20px;
  font-size: 28px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #63CCA6;
  cursor: pointer;
  transition-duration: 0.3s;
  

}

input[type=radio] {
 
 font-family: Raleway;
  padding: 12px 20px;
  font-size: 16px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 1px solid #ccc;
 
  box-sizing: border-box;
  
 
  

}

input[type=submit]:hover {
  background-color: #4AE46B;
  color: white;
  border-radius: 20px;
}


select
{
  width: 90%;
  font-family: Raleway;
  font-size: 15px;
  padding: 12px 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-sizing: border-box;
  outline: none;
}

textarea
{
width: 90%;
font-family: Raleway;
font-size: 15px;
padding: 12px 12px;
display: block;
margin-left: auto;
margin-right: auto;
text-align: left;
border: 1px solid #ccc;
border-radius: 15px;
box-sizing: border-box;
outline: none;
}



.footer 
{
  
padding:25px;

text-decoration: none;
  color: white;
  background: #303030;
}

.foots
{
  text-decoration: none;
  color: white;
  font-size: 15px;
  padding-top:  15px;
  padding-bottom:  15px;
}

#loader { 
            border: 12px solid #f3f3f3; 
            border-radius: 50%; 
            border-top: 12px solid #444444; 
            width: 70px; 
            height: 70px; 
            animation: spin 1s linear infinite; 
        } 
          
        @keyframes spin { 
            100% { 
                transform: rotate(360deg); 
            } 
        } 
          
        .center { 
            position: absolute; 
            top: 0; 
            bottom: 0; 
            left: 0; 
            right: 0; 
            margin: auto; 
        } 
